<h1> ثبت نام با موفقیت انجام شد! </h1>
<p>
ثبت نام شما با موفقیت انجام شد. لطفا جهت تکمیل ثبت‌نام، بر روی پیوند ارسال شده به پست الکترونیکی خود، کلیک نمایید. 
</p>
<p>
لطفا ملاحظه فولدرهای spam یا bulk را نیز فراموش نفرمایید. 
</p>